/*====== MAIN CSS ====*/
body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f8;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.top-bar{
    background: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar button{
    background: #e74c3c;
    border: none;
    padding: 8px 14px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.container{
    width: 380px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

input, select, button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button{
    background: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover{
    background: #2980b9;
}

label{
    font-weight: bold;
    margin-top: 10px;
    display: block;
}